body{
	background-color:#faf8da;
}
footer{
	background-color:#ffc122;
	text-align:center;
	color:white;
	font-size: 20px;
	padding: 10px;
}
h1{
	color: #205d76;
	font-size: 70px;
}
.head-style{
	text-align: center;
}

#header-img{
	width: 650px;
}

.main-heading{
	color: #205d76;
	font-size: 30px;
}
.list-text{
	color: orange;
}

.list-text2{
	color: red;
	font-size: 22px;
}
.main-img{
	height: 200px;
	width: 200px;
}
.store-section{
	display: flex;
	justify-content: center;
}

